body{
    background-color: #2a582f;
    color: white;
    font-family: font-family "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:#429c4b;
    color: white;
    font-family: font-family "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}